
body {
    font-family:verdana,arial,helvetica,clean,sans-serif;
    font-size: 14px;
}
h2, p, ul {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
}       

/*
 * Thumbnails
 */
.tumbnailBox .middleCenter {
  padding: 0px 0px;
}

.tumbnailBox {
  float: left;
  width: 55px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.thumbnailsBox .middleCenter,
.mutiUploadBox .middleCenter,
.simpleUploadBox .middleCenter {
  width: 950px;
}

/*
 * GWTChismes ProgressBar
 */
.upld-status .GWTCProgress .prg-bar-element {
  height: 2px;
}

.upld-status .GWTCProgress .prg-title {
  font-size: 12px;
}

/*
 * Incubator ProgressBar 
 */
.gwt-ProgressBar-shell {
  margin: 2px;
  background-color: #EEEEEE;
  height: 12px;
  width: 250px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border: 1px solid #DDDDDD;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #F6A828;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: grey;
}

.thumbsContainer, .thumbsContainer img {
  border: 1px solid #DDDDDD;
}
.thumbsContainer img {
  margin: 3px;
}

.thumbsContainer,  .thumbsContainer img  {
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}

.upldContainer {
  margin-top: 6px; 
  margin-bottom: 10px; 
}

.backPanel, .langPanel {
	cursor: pointer;
	margin-left: auto;
	margin-right: 0px;
}

.backPanel, .langPanel div {
	padding: 10px;
	color: blue;
	font-size: 12px;
    float: left;
    text-decoration: underline;
}
